<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRASHEALTH</title>
    <link rel="icon" href="../static/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/erro.css">
</head>
<body>
    <section class="section1">
        <div class="text">
            <h1>Já existe usuário cadastrado com esse email ou cnpj</h1>
            <a href="index">Voltar para a criação de conta</a>
        </div>
    </section>


</body>
</html>