<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/logar.css" />
    <title>TrasHealth</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@1,900&display=swap");
    </style>
    <link rel="icon" href="../static/img/logo.png" type="image/x-icon" />
  </head>

  <body>
    <header class="header1">
      <a href="index" class="infos">
        <img src="../static/img/logo3.png" alt="" class="logo" />
      </a>
      <a href="{% url 'nos' %}" class="infos">QUEM SOMOS NOS?</a>
      <a href="{% url 'mapa' %}" class="infos">MAPA</a>
      <a href="{% url 'vitrine' %}" class="infos">VITRINE</a>
      <a href="{% url 'sac' %}" class="infos">SAC</a>
      {% if user.is_authenticated %}
        <!-- Se o usuário estiver autenticado, mostra o botão "Perfil" -->
        <a href="{% url 'perfil' %}" class="botao">PERFIL</a>
      {% else %}
        <!-- Se o usuário não estiver autenticado, mostra o botão "Logar" -->
        <a href="{% url 'login' %}" class="botao">LOGAR</a>
      {% endif %}
    </header>
    <div class="form">
      <form class="formm" method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="label">
          <label>Digite o CNPJ da empresa cadastrada</label>
        </div>
        <br />
        <input name="username" class="form-control" type="text" placeholder="CNPJ da empresa.." />
        <br /><br /><br />
        <div class="senha"><label>Senha:</label></div>
        <input name="password" class="form-control" type="password" placeholder="Senha..." />
        <br /><br />
        <input class="btn btn-success btn-lg" type="submit" value="Logar" />
        {% if messages %}
        {% for message in messages %}
        <br>
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          <br>
        {% endfor %}
      {% endif %}
        <a href="register" class="label-btn">Crie sua conta gratuitamente aqui!</a>
      </form>
    </div>
  </body>
</html>
