<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/qmsomos.css">
    <title>TrasHealth</title>
    <link rel="icon" href="../static/img/logo.png" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@1,900&display=swap');
    </style>
</head>
<header class="header1">
    <a href="index" class="infos"><img src="../static/img/logo3.png" alt="" class="logo"></a>
    <a href="nos" class="infos">QUEM SOMOS NOS?</a>
    <a href="mapa" class="infos">MAPA</a>
    <a href="vitrine" class="infos">VITRINE</a>
    <a href="sac" class="infos">SAC</a>
    {% if user.is_authenticated %}
    <!-- Se o usuário estiver autenticado, mostra o botão "Perfil" -->
    <a href="{% url 'perfil' %}" class="botao">PERFIL</a>
{% else %}
    <!-- Se o usuário não estiver autenticado, mostra o botão "Logar" -->
    <a href="{% url 'login' %}" class="botao">LOGAR</a>
{% endif %}
</header>

<body>
    <section class="section1">
        <div class="container">
            <div class="papel">
                <div class="carrossel">
                    <div class="carrossel-conteudo">
                        <div class="item"><a href=""><img src="../static/img/logoslaoq.png" alt="Anúncio 1"></a></div>
                        <div class="item"><a href=""><img src="../static/img/logosla2.png" alt="Anúncio 2"></a></div>
                        <div class="item"><a href=""><img src="../static/img/logosla3 (1).png" alt="Anúncio 3"></a></div>
                    </div>
                    <button class="prev">&#10094;</button>
                    <button class="next">&#10095;</button>
                </div>
                <script src="../static/script/script.js"></script>
            </div>
        </div>
    </section>
<section class="section4">
    <section class="container secundario">
        <div class="container__descricao">
            <h1 class="titulo">Lorenzo Muller Ziglioli</h1>
            <p class="descricao__texto">
                Nascido em Xanxerê, estudante do 3° ano de informatica do IFSC, futuro
                desenvolvedor e programador. Um eximio jogador e torcedor de CS.
                Grêmio hoje, amanhã e sempre!
            </p>
        </div>
        <div class="fotos"><a href="https://www.instagram.com/loziglioli/" class="b"><img src="../static/img/zig.png" alt=""
                    class="secundario__imagem"></a>
        </div>
    </section>
</section>
    <section class="container secundario">
        <div class="fotos"><a href="https://www.instagram.com/leobrunoni?igsh=NXlxaDR0ZzF2cGww" class="b"><img
                    src="../static/img/leo.png" alt="" class="secundario__imagem"></a>
        </div>
        <div class="container__descricao">
            <p class="descricao__texto">Leonardo Brunoni Darolt, nascido em São Miguel do Oeste e morando em Xanxerê,
                estudante do 3º ano de informática do IFSC, futuro dev. Melhor jogador de valorant que já passou pelo
                IFSC e um amante de carros..</p>
        </div>
    </section>
    <section class="section3">
         <section class="container secundario">
            <div class="container__descricao">
                <p class="descricao__texto">
                    Felipe Ambrósio, nascido em Chopinzinho(cidade campeã nacional de futsal) cursando IFSC 3° ano de
                    informática, 1 interclasse, ex profissional de cs, 2 vezes desempregrado e atualmente
                    estagiário fudido.
                </p>
            </div>
            <div class="fotos"><a href="https://www.instagram.com/_felipe_ambrosio/" class="b"><img
                        src="../static/img/ambrosio.png" alt="" class="secundario__imagem"></a>
            </div>
    </section>
    </section>
    <section class="container secundario">
        <div class="fotos"><a href="https://www.instagram.com/artur_raimundi?igsh=MXBqenRqbWlkZnU2MA==" class="b"><img
                    src="../static/img/artur.png" alt="" class="secundario__imagem"></a>
        </div>
        <div class="container__descricao">
            <p class="descricao__texto">Artur Raimundi, Xanxerense e IFSCiano no 3 ano do Téc. em informática é
                programador frontend com react/react-native + GTM(Give me Your Cookies). Top 1% criador de filtro do
                tiktok e bronze no valorant.</p>
        </div>
    </section>
<section class="section4">
    <section class="container secundario">
        <div class="container__descricao">
            <p class="descricao__texto">
                Gabriel Henrique Lubian, nascido em Xanxerê, estudante do 3° ano de informática do IFSC, atualmente rato
                de academia e estudante desempregado.
            </p>
        </div>
        <div class="fotos"><a href="https://www.instagram.com/gabrieul.mp4?igsh=NTBhMXhodG1qZWFq" class="b"><img
                    src="../static/img/gabriel.png" alt="" class="secundario__imagem"></a>
        </div>
    </section>
</section>
</body>