<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sac.css">
    <link rel="icon" href="../static/img/logo.png" type="image/x-icon">
    <title>TrasHealth</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@1,900&display=swap');
    </style>
</head>
<header class="header1">
    <a href="index" class="infos"><img src="../static/img/logo3.png" alt="" class="logo"></a>
    <a href="nos" class="infos">QUEM SOMOS NOS?</a>
    <a href="mapa" class="infos">MAPA</a>
    <a href="vitrine" class="infos">VITRINE</a>
    <a href="sac" class="infos">SAC</a>
    {% if user.is_authenticated %}
    <!-- Se o usuário estiver autenticado, mostra o botão "Perfil" -->
    <a href="{% url 'perfil' %}" class="botao">PERFIL</a>
{% else %}
    <!-- Se o usuário não estiver autenticado, mostra o botão "Logar" -->
    <a href="{% url 'login' %}" class="botao">LOGAR</a>
{% endif %}
</header>
<body>
    <section class="section1">
        <div class="text">
            <h1 class="texto">
                SERVICO DE ATENDIMENTO AO CLIENTE 
            </h1>
        </div>
    </section>
    <section class="conteudo__geral">
        <div class="conteudo__cartoes-grid">
            <a class="elemento__cartao" href="https://wa.me/5549998319020?text=Aopa!">
                <!-- utilizar background-image direto no css é uma boa prática -->
                <div class="elemento__cartao--fundo"
                    style="background-image: url(https://diariodonordeste.verdesmares.com.br/image/contentid/policy:1.3301902:1668710614/shutterstock_1901696797_Easy-Resize.com.jpg?f=16x9&h=574&w=1020&$p$f$h$w=fd2d116)">
                </div>
                <div class="elemento__cartao--conteudo">
                    <h3 class="elemento__cartao--texto-titulo">WhatsApp</h3>
                </div>
            </a>
            <a class="elemento__cartao" href="mailto:email@provedor.com.br?subject=Assunto do email&cc=copia@provedor.com.br&bcc=copiaoculta@provedor.com.br&body=Conteúdo do email que será preenchido automaticamente">
                <div class="elemento__cartao--fundo"
                    style="background-image: url(https://www.artenovaweb.com.br/uploads/images/noticias/img/1626991663.jpg)">
                </div>
                <div class="elemento__cartao--conteudo">
                    <h3 class="elemento__cartao--texto-titulo">E-mail</h3>
                </div>
            </a>
            <a class="elemento__cartao" href="https://criarmeulink.com.br/u/1732313805">
                <div class="elemento__cartao--fundo"
                    style="background-image: url(https://img.freepik.com/fotos-premium/numero-desconhecido-ligando-no-ctiy-telefonema-de-um-estranho-pessoa-segurando-celular-e-smartphone-em-uma-feira-chamada-inesperada-perturba-na-conferencia-de-negocios_157125-9571.jpg)">
                </div>
                <div class="elemento__cartao--conteudo">
                    <h3 class="elemento__cartao--texto-titulo">Entre em contato</h3>
                </div>
            </a>
        </div>
    </section>
</body> 