@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@1,900&display=swap');
* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    color: rgb(0, 0, 0);
}
.logo {
    width: 50px;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #323272;
    font-size: max(10px, 1vw)
}

.infos {
    text-decoration: none;
    color: white;
    transition: 200ms;
}

.infos:hover {
    color: #f7a074;
    transform: scale(1.1);
    transition: 200ms;
}

.botao {
    text-decoration: none;
    color: white;
    border: solid 5px #f7a074;
    border-radius: 20px;
    padding: 3px 20px;
    background-color: #f7a074;
    transition: 200ms;
}

.botao:hover {
    color: #323272;
    transform: scale(1.1);
    transition: 200ms;

}
body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('../img/wllpaperperf.jpg') center center/cover no-repeat;
}
#ground{
    background-color: #e2b4dbb8;
    text-align: center;
    font-size: 50px;
}
#ground img{
    display: flex;
    margin: auto;
}
#email{
    border: 0;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 4px;
}
#senha{
    border: 0;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 4px;
}
#nome{
    border: 0;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 4px;
}
label{
    color: rgb(34, 33, 34);
}
.cadastro-form {
    width: 300px;
    padding: 20px;
    border: 3px solid #3d089246;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #010f0277;
}

.cadastro-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cadastro-form label {
    display: block;
    margin-bottom: 5px;
}

.cadastro-form input[type="text"],
.cadastro-form input[type="email"],
.cadastro-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.cadastro-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #323272;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.cadastro-form input[type="submit"]:hover {
    color:  #000000;
    transform: scale(1.01); 
    transition: 200ms;
}

a:hover{
    color: white;
    transition: 400ms;
    
}
.slaoq{
    padding: 1vw 0 0 0 ;
    text-align: center;
}
.slaoq2{
    text-align: center;
    padding-bottom: 10px;
}
.h1{
    color: black;
}
div.container{
    padding: 7vw 14vw 0 14vw;
}
.btn{
    background-color: red;
}
input.form-control{
    color: red;
}