
:root {
    --cor-de-fundo: #2d3548;
    --cor-clara: rgba(255, 255, 255, 0.6);
    --cor-clara2: rgba(255, 255, 255, 0.9);
    --medida-espaco-8: 8px;
    --medida-espaco-16: 16px;
    --medida-espaco-24: 24px;
    --medida-espaco-32: 32px;
    --medida-espaco-64: 64px;
    --largura-caixa-geral: 1200px;
  }* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    color: white;
}

.logo {
    width: 50px;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #323272;
    font-size: max(10px, 1vw)
}

.infos {
    text-decoration: none;
    color: white;
    transition: 200ms;
}

.infos:hover {
    color: #f7a074;
    transform: scale(1.1);
    transition: 200ms;
}

.botao {
    text-decoration: none;
    color: white;
    border: solid 5px #f7a074;
    border-radius: 20px;
    padding: 3px 20px;
    background-color: #f7a074;
    transition: 200ms;
}

.botao:hover {
    color: #323272;
    transform: scale(1.1);
    transition: 200ms;

}

body {
    background-color: #323272;

}

.section1 {
    width: 99.1;
    height: 55vw;
    background-image: url(../img/wllpapersac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 103px 228px -7px rgba(21,1,31,0.74);
    -webkit-box-shadow: 1px 103px 228px -7px rgba(21,1,31,0.74);
    -moz-box-shadow: 1px 103px 228px -7px rgba(21,1,31,0.74);
}

.section1 {
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    color: gray;
    
    
}
.text{
    padding-bottom: 10vw;
}
.texto{
    color: white;
    font-size: 2vw;
    
}
.conteudo__geral {
    align-items: flex-start;
    background-color: #323272;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--medida-espaco-64) var(--medida-espaco-24);
  }
  
  .conteudo__cartoes-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--medida-espaco-24);
    grid-row-gap: var(--medida-espaco-24);
    max-width: var(--largura-caixa-geral);
    width: 100%;
  }
  
  @media (min-width: 540px) {
    .conteudo__cartoes-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 960px) {
    .conteudo__cartoes-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .elemento__cartao {
    list-style: none;
    position: relative;
  }
  
  .elemento__cartao:before {
    content: "";
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .elemento__cartao--fundo {
    background-size: cover;
    background-position: center;
    border-radius: var(--medida-espaco-24);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
  }
  
  .elemento__cartao:hover .elemento__cartao--fundo {
    transform: scale(1.05) translateZ(0);
  }
  
  .conteudo__cartoes-grid:hover
    > .elemento__cartao:not(:hover)
    .elemento__cartao--fundo {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .elemento__cartao--conteudo {
    left: 0;
    padding: var(--medida-espaco-24);
    position: absolute;
    top: 0;
  }
  
  .elemento__cartao--texto-categoria {
    color: var(--cor-clara);
    font-size: 0.9rem;
    margin-bottom: var(--medida-espaco-8);
    text-transform: uppercase;
  }
  
  .elemento__cartao--texto-titulo {
    color: var(--cor-clara2);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }