* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    color: white;
}

.logo {
    width: 50px;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #323272;
    font-size: max(10px, 1vw)
}

.infos {
    text-decoration: none;
    color: white;
    transition: 200ms;
}

.infos:hover {
    color: #f7a074;
    transform: scale(1.1);
    transition: 200ms;
}

.botao {
    text-decoration: none;
    color: white;
    border: solid 5px #f7a074;
    border-radius: 20px;
    padding: 3px 20px;
    background-color: #f7a074;
    transition: 200ms;
}

.botao:hover {
    color: #323272;
    transform: scale(1.1);
    transition: 200ms;

}

body {
    background-color: #323272;

}

.section1 {
    width: 99.1;
    height: 55vw;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 103px 228px -7px rgba(21,1,31,0.74);
    -webkit-box-shadow: 1px 103px 228px -7px rgba(21,1,31,0.74);
    -moz-box-shadow: 1px 103px 228px -7px rgba(21,1,31,0.74);

}

.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.image-container {
    position: relative;
    width: 25.6vw;
    padding-bottom: 11vw;

}

.hidden-image {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    width: 100%;
    transform: scale(0.9);
    height: auto;
}

.image-container:hover .hidden-image {
    opacity: 1;
    transition: 500ms;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vw;
}

.text {
    width: 50%;
    padding: 0 10vw;
    font-size: max(10px, 1.2vw);
}

.images {
    width: 50%;
}

.logo1 {
    width: 20vw;
    padding-left: 8vw;
}

.titulo {
    font-size: 5vw;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
    font-size: max(10px, 1.2vw);
}

.dispositivos__titulo {
    font-size: max(10px, 3vw);
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.descricao__titulo1 {
    font-size: 5vw;
    margin-bottom: 0.1em;
    font-family: "Rubik", sans-serif;
}

.computer__img {
    padding: 0 1em;
}

.cell__img {
    padding: 0 2em;
}

.section3 {
    background-image: url(../img/mano.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 10vw;
}

.section4 {
    background-image: url(../img/mano2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 10vw;
}
.dispositivos__titulo1{
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #f7a074;  
    padding: 1vw 2vw;
    border-radius: 20px;
    background-color: #f7a074;;
    color: #323272;
    transition: 200ms;
}
.dispositivos__titulo1:hover {
    color: #323272;
    transform: scale(1.1);
    transition: 200ms;

}

a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}